@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #262626;
}
html,
body {
  overflow: auto !important;
  height: auto !important;
  padding-right: 0px !important;
  margin-right: 0px !important;
}
.drop-shadow-lg-custom {
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 1));
}
.drop-shadow-lg-custom2 {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
}

#cursor {
  animation: cursorblink 1s infinite;
}

.shadow-2xle {
  --tw-shadow: 0 0 100px -0px rgb(64 64 64 / 0.9);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@keyframes cursorblink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes orbitAnimation {
  from {
    transform: rotate(0deg) translate(250px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(250px) rotate(-360deg);
  }
}

@keyframes orbitAnimationMobile {
  from {
    transform: rotate(0deg) translate(160px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(160px) rotate(-360deg);
  }
}

.perspective {
  perspective: 1000px;
}

.sphere3d {
  width: 120px;
  height: 120px;
  background: radial-gradient(circle at 30% 30%, #4338ca 5%, #1e1b4b 80%);
  border-radius: 50%;
  box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.4),
    inset 6px 6px 10px rgba(255, 255, 255, 0.2), 0 6px 12px rgba(0, 0, 0, 0.6);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.sphere3dMobile {
  width: 80px;
  height: 80px;
  background: radial-gradient(circle at 30% 30%, #4338ca 5%, #1e1b4b 80%);
  border-radius: 50%;
  box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.4),
    inset 6px 6px 10px rgba(255, 255, 255, 0.2), 0 6px 12px rgba(0, 0, 0, 0.6);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.sphere3d::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  top: 12%;
  left: 12%;
  background: radial-gradient(
    circle,
    rgba(67, 56, 202, 1) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  border-radius: 50%;
  opacity: 0.7;
}
@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlayHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

.overlayShow {
  animation: overlayShow 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

.overlayHide {
  animation: overlayHide 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

.contentshow {
  animation: contentShow 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

.contentHide {
  animation: contentHide 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

/* .overflowHidden {
  overflow-x: hidden;
} */
